name: Bump version
on: 
  merge_group:
        types: [checks_requested]
jobs:
  bump_version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      
    - name: Install bump2version
      run:  pip install bump2version
      
    - name: Setup git
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
      
    - name: increase patch
      if: ${{ always() && (!contains(github.event.head_commit.message, '[bump major]')) && (!contains(github.event.head_commit.message, '[bump minor]')) && (!contains(github.event.head_commit.message, '[no bump]')) }}
      run: bump2version patch py/picca/_version.py --verbose
      
    - name: Bump major version
      if: ${{ always() && contains(github.event.head_commit.message, '[bump major]') }}
      run: bump2version major py/picca/_version.py --verbose
      
    - name: Bump minor version
      if: ${{ always() && contains(github.event.head_commit.message, '[bump minor]') }}
      run: bump2version minor py/picca/_version.py --verbose
      
    - name: No version bump
      if: ${{ always() && contains(github.event.head_commit.message, '[no bump]') }}
      run: echo "No version bump requested"
      
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
