name: Pylint

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'
  merge_group:

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        sudo apt-get -y install libbz2-dev
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pylint==3.3.7
    - name: This path
      run: |
        ls
        realpath .
    - name: Install picca
      run: pip install -e .
    - name: Analysing the code with pylint
      run: |
        pylint py/picca/delta_extraction/
        pylint py/picca/pk1d/
